fastapi
uvicorn
langchain
langchain-groq
langchain-chroma
langsmith
sentence-transformers
chromadb
pydantic
python-dotenv
azure-storage-blob
ensure
python-box
langchain-community
langchain-text-splitters